.form-group {
	text-align: left;
	margin-bottom: 20px;
}
form {
	width: 100%;
}
label {
	color: #555;
	font-size: 15px;
	font-weight: 400;
	line-height: 30px;
}
input[type=text],input[type=password] {
	width: 30%;
	line-height: 25px;
	color: #222;
	font-size: 15px
}
input[type=submit] {
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	color: #222;
}